.vs/**
APL Unity/.vs/**
APL Unity/Assets/Plugins/**
APL Unity/Assets/TextMesh Pro/**
APL Unity/Library/**
APL Unity/Temp/**
APL Unity/Logs/**
APL Unity/Packages/**
APL Unity/APL\ Unity.sln
APL Unity/Assembly-CSharp.csproj
APL Unity/Assets/Plugins.meta
APL Unity/Assets/TextMesh Pro.meta
